{
  "tabWidth": 2,
  "printWidth": 160,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": false,
  "bracketSameLine": true,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
